.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container > * {
    margin: 0 30px 80px; /* Adjust spacing as needed */
}

h1 {
    text-align: center;
}

select {
    width: auto; /* Adjust as per your requirement */
    padding: 5px 10px;
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
}

a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

/* Specific styles for each social media */
.facebook {
    background-color: #3b5998;
}

.X {
    background-color: #242729;
}

.linkedin {
    background-color: #0077b5;
}

.share-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Default styles for desktop */
.cards-container {
    display: flex;
    justify-content: space-between;
}

/* Responsive styles for tablets */
@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
    }
}

/* Responsive styles for mobile phones */
@media (max-width: 480px) {
    .cards-container {
        flex-direction: column;
    }
    .card {
        margin-bottom: 20px;
    }
}

.card {
    width: 100%; /* for mobile */
}

@media (min-width: 768px) {
    .card {
        width: 48%; /* for tablets and above */
    }
}

@media (min-width: 1024px) {
    .card {
        width: 23%; /* for desktop */
    }
}